<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Belajar Braille</title>
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
   </head>

   <body class="bg-gray-900 text-white h-screen flex items-center justify-center">

      <div id="app" class="text-center">
         <h1 class="text-3xl font-bold mb-4">Belajar Braille</h1>

         <div class="mb-4">
            <input v-model="inputText" class="p-2 border rounded bg-gray-800 w-80 text-white"
               placeholder="Apapun itu...">
         </div>

         <button @click="convertText" class="bg-blue-500 text-white px-4 py-2 rounded mb-4">Mari kita coba...</button>

         <div v-if="brailleText">
            <p class="font-semibold mb-3">...SURPRISEE...</p>
            <div class="grid grid-cols-12 gap-4">
               <div v-for="(brailleChar, index) in brailleText" :key="index"
                  class="bg-gray-800 rounded p-4 text-center text-2xl dark:bg-gray-700">
                  {{ brailleChar }}
               </div>
            </div>
         </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
      <script>
         const template = {
            letters: {
               'a': '⠁', 'b': '⠃', 'c': '⠉', 'd': '⠙', 'e': '⠑', 'f': '⠋', 'g': '⠛', 'h': '⠓', 'i': '⠊', 'j': '⠚',
               'k': '⠅', 'l': '⠇', 'm': '⠍', 'n': '⠝', 'o': '⠕', 'p': '⠏', 'q': '⠟', 'r': '⠗', 's': '⠎', 't': '⠞',
               'u': '⠥', 'v': '⠧', 'w': '⠺', 'x': '⠭', 'y': '⠽', 'z': '⠵'
            },
            contractions: {
               'but': '⠃', 'can': '⠉', 'do': '⠙', 'every': '⠑', 'from': '⠋', 'go': '⠛', 'have': '⠓', 'just': '⠚',
               'knowledge': '⠞⠢', 'like': '⠎⠊', 'more': '⠍⠕', 'not': '⠝⠕⠞', 'people': '⠏⠑⠑⠏⠇', 'quite': '⠟⠍⠑',
               'rather': '⠗⠑⠞⠓', 'so': '⠎⠕', 'that': '⠞⠕', 'us': '⠥⠎', 'very': '⠧⠑⠗', 'it': '⠊⠞', 'you': '⠽⠕⠥',
               'as': '⠎⠎⠎', 'and': '⠃⠝⠙', 'for': '⠕⠗', 'of': '⠕⠋', 'the': '⠎⠑', 'with': '⠺⠊', 'will': '⠺⠊⠇',
               'his': '⠓⠊⠎', 'in': '⠊⠝', 'was': '⠺⠕⠎', 'to': '⠕⠑'
            },
            punctuation: {
               ',': '⠲', ';': '⠆⠖⠆', ':': '⠆⠆⠆', '.': '⠲', '!': '⠖', '(': '⠘', ')': '⠘⠆', '“': '⠘⠸', '”': '⠘⠸',
               '?': '⠈⠻', '/': '⠘⠤⠇', '#': '⠼⠼', '\'': '⠄', '…': '⠤⠤⠤', '’': '⠄', '­': '⠤⠤', '-': '⠤⠤', '‐': '⠤⠤',
               '‑': '⠤⠤', '‒': '⠤⠤', '–': '⠤⠤', '—': '⠤⠤', '―': '⠤⠤',
               '&': '⠈⠛⠎', '%': '⠨⠴', '$': '⠤⠎⠞', '@': '⠈⠹', '*': '⠈⠻'
            },
            numbers: { '1': '⠂', '2': '⠆', '3': '⠒', '4': '⠲', '5': '⠤', '6': '⠖', '7': '⠶', '8': '⠦', '9': '⠔', '0': '⠶⠂' },
            CAPITAL: '⠠',
            NUMBER: '⠼',
            UNRECOGNIZED: '?'
         };

         new Vue({
            el: '#app',
            data: {
               inputText: 'Aku & kamu 90',
               brailleText: ''
            },
            methods: {
               convertText() {
                  function charToBraille(char) {
                     if (char.toLowerCase() in template.letters) {
                        return template.letters[char.toLowerCase()];
                     } else if (char.toLowerCase() in template.contractions) {
                        return template.contractions[char.toLowerCase()];
                     } else if (char in template.punctuation) {
                        return template.punctuation[char];
                     } else if (char in template.numbers) {
                        return template.numbers[char];
                     } else if (char === ' ') {
                        return ' ';
                     } else {
                        return template.UNRECOGNIZED;
                     }
                  }

                  function translate(input) {
                     const characters = input.split('');
                     let result = [];
                     for (const char of characters) {
                        result.push(charToBraille(char));
                     }
                     return result;
                  }

                  this.brailleText = translate(this.inputText);
               }
            }
         });
      </script>

   </body>

</html>